:root {
    --md-admonition-icon--coffee: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2 21h18v-2H2M20 8h-2V5h2m0-2H4v10a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4v-3h2a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Z"/></svg>')
  }
  .md-typeset .admonition.coffee,
  .md-typeset details.coffee {
    border-color: rgb(116,86,73);
  }
  .md-typeset .coffee > .admonition-title,
  .md-typeset .coffee > summary {
    background-color: rgba(116,86,73, 0.1);
  }
  .md-typeset .coffee > .admonition-title::before,
  .md-typeset .coffee > summary::before {
    background-color: rgb(116,86,73);
    -webkit-mask-image: var(--md-admonition-icon--coffee);
            mask-image: var(--md-admonition-icon--coffee);
  }